<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="card-title">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end">Nuevo</button>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Coca-cola</th>
                                <td>Bebida</td>
                                <td>Buenos aires</td>
                                <td>$2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Marlboro 20</th>
                                <td>Cigarros</td>
                                <td>Barcelona</td>
                                <td>$3</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
