<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <button class="btn btn-outline-success btn-group-sm float-end"
                        routerLink="/crear-producto">Nuevo</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fav" *ngFor="let producto of listProductos">
                                <th>{{producto.nombre | titlecase}}</th>
                                <td>{{producto.categoria | titlecase}}</td>
                                <td>{{producto.ubicacion | titlecase}}</td>
                                <td>{{producto.precio | currency: 'USD' }}</td>
                                <td><i class="fas fa-edit text-primary"></i>
                                    <i (click)="eliminarProducto(producto._id)" class="far fa-trash-alt text-danger"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <h5 class="text-danger text-center mt-1" *ngIf="listProductos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
